<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gustavo.smarketapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoico"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartSplashScreenActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:noHistory="true"
            android:name=".LocationSplashScreenActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".StartSplashScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartSplashScreenActivity" />
        </activity>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".LocationSplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LocationSplashScreenActivity" />
        </activity>

        <activity
            android:name=".CartActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".AboutDeliveryActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".CartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CartActivity" />
        </activity>

        <activity
            android:name=".PaymentActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".AboutDeliveryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CartActivity" />
        </activity>

    </application>

</manifest>